.header {
    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }
    &-navigation {
        display: flex;
        gap: 0 60px;
        align-items: center;
        cursor: pointer;
        
    }
    &-phone {
        color: $gray;
        font-weight: 300;
        a {
            font-weight: 600;
            margin-left: 15px;
            color: inherit;
        }
    }
    @include maxw(767px) {
        margin-top: -20px;
        &-phone {
            display: none;
        } 
        &-navigation {
            gap: 0 30px;
        }
      }
}