.hero {
    
    position: relative;
    display: block;
    &-image {
        margin-left: auto;
        max-width: 65%;
    }
    &-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        left: 20%;

    }
    &-caption {
        font-size: 72px;
        color: $gray;
        font-weight: 600;
        margin: 0 0 5px;
    }
    &-heading {
        font-size: 150px;
        font-weight: 800;
        color: $gray;
        text-transform: uppercase;
        margin: 0 0 40px;
    }
    &-link  {
        display: inline-block;
        font-size: 18px;
        font-weight: 800;
        text-decoration: underline;
    }
    @include maxw(1023px) {
        &-caption {
            font-size: 40px;
        }
        &-heading{
            font-size: 100px;
        }
      }
      @include maxw(767px) {
        &-image {
            min-width: 70%;
        }
        &-content {
            left: 20px;
        }

        &-caption {
            font-size: 20px;
        }
        &-heading{
            font-size: 40px;
        }
      }
}

